//*------------------------------------*\
// Variables Color
//*------------------------------------*/

$c-neutro:     #fff;
$c-primary:    #E1D078;
$c-brand:      #701012;
$c-brand-2:    #C18E00;
$c-dark:       #000000;
$c-bg-general: #E8E8E8;
