//*------------------------------------*\
// Variables Color
//*------------------------------------*/

$c-neutro:     #fff;
$c-primary:    #CFA052;
$c-brand:      #222549;
$c-brand-2:    #C3302C;
$c-dark:       #000000;
$c-bg-general: #E8E8E8;
