//*------------------------------------*\
// Variables Typo font
//*------------------------------------*/

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('~@/assets/fonts/pilsen/DINNextRoundedLTPro-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/pilsen/Roboto-Regular.ttf');
}
$font-path: "~@/assets/fonts" !default;

$f-bold         : 700;
$f-semibold     : 600;
$f-regular      : 400;
$f-light      : 300;

// Fuentes de icono
$ico-font-family: "becker-trivia" !default;
// Variables iconos
$i-check: "\e90b";
$i-instagram: "\e900";
$i-facebook: "\e901";
$i-twitter: "\e902";
$i-youtube: "\e903";
$i-arrow: "\e904";
$i-brand-lata: "\e905";
$i-close: "\e906";
$i-dot-ranking: "\e907";
$i-menu: "\e908";
$i-scroll: "\e909";
$i-select: "\e90a";