
.cc-404 {
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(column);
  justify-content: center;
  min-height: 805px;
  background-size: cover;
  background: url('#{$img-path}/pilsen/bg-404.png') right no-repeat;
  @include media-query(medium) {
    min-height: 100vh;
    // @include flex-direction(row);
    background-size: 100% 100%;
  }
  .container-404{
    padding: 30px 0;
    margin: 0 auto 300px;
    background: rgba(0, 0, 0, 0.5);
    border: 0.577853px solid #EEB400;
    box-sizing: border-box;
    box-shadow: 0px 2.31141px 5.77853px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28.8927px);
    border: 0.57s;
  }
}
@media screen and (max-width: 970px) {
  .cc-404 {
    min-height: 90vh;
    height: 90vh;
    background-position-x: -500px;
    @include flex-direction(row);
    @include align-items(center);
    .container-404{
      margin: 0 auto 150px;
      width: 70%;
    }
  }
}

.cc-404__header {
  width: 90%;
  @include media-query(medium) {
    width: 50%;
  }
}

.cc-404__btn {
  margin: 0 auto 20px;
  @include media-query(wide) {
    margin-bottom: 0;
  }
}

.cc-404__img {
  display: inline-block;
  padding-bottom: 40px;
  max-width: 280px;
  @include media-query(wide) {
    max-width: initial;
  }
}

.cc-404__title {
  font-family: 'intensaposter';
  color: #D2A35D;
  @include font-rem(98px);
  font-family: 'DIN Next LT Pro';
  font-style: normal;
  font-weight: bold;
  line-height: 118px;
  padding-bottom: 1rem;
  @include media-query(medium) {
    @include font-rem(98px);
  }
  @include media-query(big) {
    @include font-rem(98px);
  }
  @include media-query(large) {
    @include font-rem(98px);
  }
}

.cc-404__lead {
  display: block;
  color: $c-brand;
  @include font-rem(40px);
  @include media-query(medium) {
    @include font-rem(50px);
  }
  @include media-query(big) {
    @include font-rem(60px);
  }
  @include media-query(large) {
    @include font-rem(70px);
  }
}

.cc-404__txt {
  display: block;
  width: 90%;
  max-width: 23rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
  @include media-query(medium) {
    text-align: left;
  }
}
