.cc-body-agegate {
  .cc-nav {
    position: relative;
    padding: 0;
    background-color: transparent;
  }
  @include media-query(medium) {
    .cc-nav__brand-logo {
      display: none;
    }
  }
}

.cc-age-gate {
  margin-top: -92px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 140%;
  background-image: url('#{$img-path}/pilsen/112A7757.png');
  .layout-general {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(flex-end);
    position: relative;
    width: 100%;
    // min-height: 40rem;
    // padding-top: 267px;
  }
  .cc-title {
    @include font-rem(16px);
    text-transform: initial;
    text-align: center;
    padding: 1rem 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }

  .cc-form__label_check {
    padding-bottom: 0;
    &:after {
      border-radius: 50%;
      background-color: $c-neutro;
      border-color: transparent;
    }
    &:before {
      content: '';
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      left: 0.4rem;
      border-radius: 50%;
      background: $c-primary;
    }
  }
  .cc-form__terms {
    width: 90%;
    margin: 0 auto  ;
  }
  .cc-age-gate__input#ageGateYear,.cc-age-gate__input#ageGateMonth,.cc-age-gate__input#ageGateDay {
    width: 60px;
    margin: 0 10px;
  }
  .cc-age-gate__input {
    width: 100%;
    height: 80px  !important;
    padding: 0;
    letter-spacing: 0.3em;
    text-align: center;
    // border: 2px solid rgba(0, 0, 0, 0.6) blur(4px);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    font-size: 30px;
    color: #fff;
    &:focus,
    &:active {
      outline: none;
      -webkit-box-shadow:  0px 0px 9px 1px rgba($c-brand-2, 0.8);
      -moz-box-shadow:  0px 0px 9px 1px rgba($c-brand-2, 0.8);
      box-shadow:  0px 0px 9px 1px rgba($c-brand-2, 0.8);
    }
  }
  .cc-age-gate__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  .cc-age-gate__input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
  }
  .cc-age-gate__input:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
  }
  .cc-age-gate__input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }
  .cc-form__label {
    font-family: 'Open Sans', sans-serif;
    &.cc-form__label_small {
      padding: 10px 0 0 28px;
      color: $c-bg-general;
      font-family: 'Open Sans', sans-serif;
    }
  }
  .cc-form__terms-item {
    padding-bottom: 20px;
  }
  .cc-btn {
    display: block;
    margin: 0 auto;
  }
  //media-queries
  @media only screen and (min-width: 400px) {
    background-size: 120%;
    .layout-general {
      min-height: 40rem;
    }
  }
  @media only screen and (min-width: 500px) {
    background-size: 110%;
  }
  @include media-query(medium) {
    background-size: 100% 100%;
    background-image: url('#{$img-path}/pilsen/112A7757.png');
    background-position: center bottom;
    .layout-general {
      @include flex-direction(row);
      @include justify-content(flex-end);
      @include align-items(stretch);
      width: 94%;
      // min-height: calc(100vh - 228px);
      padding-top: 0;
    }
    .cc-title {
      @include font-rem(18px);
    }
    .cc-age-gate__input {
      height: 54px;
    }
  }
  .layout-general {
    @media only screen and (max-height: 823px) and (max-width: 767px)  {
      min-height: calc(100vh - 11.2rem);
    }
    @media only screen and (max-height: 812px) and (max-width: 767px)  {
      min-height: calc(94vh - 9.2rem);
    }
    @media only screen and (max-height: 737px) and (max-width: 767px) {
      min-height: calc(100vh - 6.2rem);
    }
    @media only screen and (max-height: 668px) and (max-width: 767px) {
      min-height: calc(100vh + 0.6rem);
    }
    @media only screen and (max-height: 568px) and (max-width: 767px) {
      min-height: calc(100vh + 2.2rem);
    }
  }
  @include media-query(big) {
    .layout-general {
      min-height: 100vh;
    }
    .cc-title {
      @include font-rem(20px);
    }
  }
  @include media-query(large) {
    .cc-title {
      @include font-rem(22px);
    }
  }
  @include media-query(full) {
    .cc-title {
      @include font-rem(24px);
    }
  }
}

.cc-age-gate__wrapper {
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #BDA38A;
  @include media-query(medium) {
    margin: 100px auto;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    min-width: 370px;
    &:before {
      content: '';
      display: block;
      width: 50vh;
      height: 16vh;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50%;
      background-image: url('#{$img-path}/pilsen/logo.png');
    }
  }
  @include media-query(wide) {
    padding: 40px;
  }
}

.cc-age-gate__grid-wrapper {
  width: 100%;
  text-align: center;
  height: 140px;
  padding: 10px;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}


.cc-age-gate__label {
  position: absolute; 
}

.cc-age-gate__control {
  // border: 5px solid #E1D078;
  box-sizing: border-box;
  width: 100%; margin-right: 10px;
  height: auto;
  padding: 20px 0;
  // margin: 0px 5px 0;
  // padding: 10px 20px 0;
  display: inline-block;
}

.cc-age-gate__control_day {
  
}
.cc-age-gate__control_month {
  
}
.cc-age-gate__control_year {
  .border-contain{
    margin: 0 auto;
    height: 100%;
    width: 60%;
    // border: 1px solid red;
  }
}
@media screen and (max-width: 970px) {
  .cc-nav__brand-logo{
    display: none;
  }
  .cc-age-gate__wrapper{
    width: 100%;
    background: #fff;
  }
  .cc-age-gate__control_year .border-contain{
    width: 100%;
  }
  .cc-age-gate{
    background: url('#{$img-path}/pilsen/bg-agegatemobile.png');
    background-size:100% 120%;
    .cc-title{
      padding: 20px 1px 10px;
      font-size: 14px;
      color: #000;
    }
    .layout-general{
      padding: 0px 40px ;
      justify-content: space-around;
      padding-bottom: 0px;
    }
    .cc-age-gate__input#ageGateYear, .cc-age-gate .cc-age-gate__input#ageGateMonth, .cc-age-gate .cc-age-gate__input#ageGateDay{
      width: 50px;
      height: 60px;
      margin: 0 5px;
    }
    .cc-form__label.cc-form__label_small{
      color: #000;
    }
    .cc-form__label_check{
      color: #000;
      font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    }
    .cc-form__label_check:after{
      background-color: grey;
      border: 1px solid #000;
    }
  } 
  
  
}