.cc-footer {
  border-top: 4px solid #C18E00;
  padding: 1rem 0;
  text-align: center;
  background-color: $c-brand;
  color: $c-neutro;
  @include media-query(big) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}

.cc-footer__social-list,
.cc-footer__nav {
  list-style-type: none;
  @include flexbox;
  @include align-items(center);
}

.cc-footer__social-list {
  padding-left: 40px;
  @include justify-content(center);
}

.cc-footer__social {
  // border-top: 1px solid $c-primary;
  padding-top: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  .logo-footer{
    list-style: none;
    a img{
      height: auto;
      width: 100px;
    }
  }
  @include media-query(wide) {
    border: none;
  }
}

.cc-footer__social-txt {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.cc-footer__nav {
  padding: 0 0 1rem;
  position: relative;
  @include flex-wrap(wrap);
  @include flex-direction(column);
  @include media-query(wide) {
    padding: 0;
    @include justify-content(center);
    @include flex-direction(row);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $c-primary;
      top: 60px;
      left: 0;
    }
  }
}
@media screen and (max-width:970px) {
  .cc-footer__nav-item.logo-footer {
    display: none;
  }
}
.cc-footer__nav-item {
  padding: .4rem;
  @include media-query(wide) {
    padding: 1rem 5px;
    margin: 2px 3px;
  }
}
.cc-footer__nav-item:nth-child(1) {
  @include media-query(wide) {
    @include order(5);
    // padding: 2px 25px;
  }
}
.cc-footer__nav-item:nth-child(2) {
  @include media-query(wide) {
    @include order(4);
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(3) {
  @include media-query(wide) {
    @include order(1); 
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(4) {
  @include media-query(wide) {
    @include order(2);
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(5) {
  @include media-query(wide) {
    @include order(3);
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(6) {
  @include media-query(wide) {
    @include order(7);
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(7) {
  @include media-query(wide) {
    @include order(6);
    padding: 1rem 25px;
  }
}
.cc-footer__nav-item:nth-child(8) {
  @include media-query(wide) {
    @include order(-1);
    padding: 1rem 25px;
    display: none;
  }
}

.cc-footer__brand-logo {
  display: block;
  width: auto;
  height: 28px;
  margin: 0 auto 1rem;
  @include media-query(wide) {
    margin: 0 auto
  }
}

.cc-footer__nav-link {
  color: $c-neutro;
  @include font-rem(14px);
  font-family: 'Open Sans', sans-serif;
  transition: all .3s linear;
  text-decoration: none;
  &:hover {
    color: $c-primary;
    text-decoration: underline;
  }
}

.cc-footer__social-txt {
  display: block;
  margin: 0;
  padding-bottom: 34px;
  @include font-rem(14px);
  @include media-query(full) {
    @include font-rem(16px);
  }
}

.cc-footer__social-link i{
  display: inline-block;
  padding: 0 2px;
  margin: 0 10px;
  transition: all .3s linear;
  &:before {
    color: $c-neutro;
    display: inline-block;
    @include font-rem(22px);
    transition: all .3s linear;
  }
  &:hover {
    &:before {
      color: $c-primary;
    }
  }
}

.cc-footer__nav-txt {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  @include font-rem(14px);
}
