.cc-home__learn {
  color: #fff;
  background-color: $c-bg-general;
  // padding: 3rem 0;
  @include media-query(wide) {
    // padding: 4rem 0;
  }
}

.cc-home__learn-header {
  text-align: center;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  .cc-text_bold {
    margin-bottom: 4rem;
  }
  .cc-title-section_final {
    margin-bottom: 0;
  }
  // @include media-query(medium) {
  //   margin-bottom: 3rem;
  // }
}

.cc-learn__slider {
  max-width: 100vw;
  margin: 0 auto;
  @include media-query(medium) {
    max-width: initial;
  }
  .VueCarousel-navigation{
    position: relative;
    width: 100%;
    height: auto;
    bottom: 50%;
    .VueCarousel-navigation-prev::before{
      padding-right: 10px;
      font-size: 60px;
    }
    .VueCarousel-navigation-prev{
      padding-left: 10px;
      left: 100px !important;
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 50%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      padding-left: 10px;
      text-align: center;
    }
    .VueCarousel-navigation-next::before{
      font-size: 60px;
      padding-left: 10px;
    }
    .VueCarousel-navigation-next{
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 50%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      text-align: center;
      position: absolute !important;
      right: 100px !important;
    }
  }
}
@media screen and (max-width: 970px) {
  .cc-learn__slider .VueCarousel-navigation{
    .VueCarousel-navigation-next{
      display: none;
    }
    .VueCarousel-navigation-prev{
      display: none;
    }
  }
}
.inner{
  max-width: 100%;
  width: 100%;
}
.cc-learn__slider__item:nth-child(1) {
  background: url(../img/pilsen/slide0.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(2) {
  background: url(../img/pilsen/slide1.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(3) {
  background: url(../img/pilsen/slide2.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(4) {
  background: url(../img/pilsen/slide3.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(5) {
  background: url(../img/pilsen/slide4.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(6) {
  background: url(../img/pilsen/slide5.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(7) {
  background: url(../img/pilsen/slide6.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(8) {
  background: url(../img/pilsen/slide7.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(9) {
  background: url(../img/pilsen/slide8.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(10) {
  background: url(../img/pilsen/slide9.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item:nth-child(11) {
  background: url(../img/pilsen/slide10.png) top no-repeat;
  background-size: 100% 100%;
}
.cc-learn__slider__item {
  background: url(/src/assets/img/slider-0.png);
  @include flexbox;
  @include flex-direction(column-reverse);
  @include media-query(medium) {
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(flex-end);
  }
}

.cc-learn__slider-content {
  padding: 0 50px;
  margin-right: 100px;
  text-align: center;
  @include media-query(medium) {
    @include flex(0 1 40%);
    text-align: left;
  }
}

.cc-learn__slider-picture {
  margin-bottom: 2rem;
  @include media-query(medium) {
    @include flex(0 1 50%);
    margin-bottom: 0;
  }
}

.cc-learn__slider-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  @include media-query(medium) {
    width: 100%;
    margin: 0;
  }
}

.cc-learn__slider-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: $f-bold;
  text-transform: uppercase;
  @include font-rem(16px);
  @include media-query(medium) {
    @include font-rem(18px);
  }
  @include media-query(big) {
    @include font-rem(22px);
  }
  @include media-query(full) {
    @include font-rem(26px);
  }
}

.cc-learn__slider-txt {
  font-family: DIN Next LT Pro;
  @include font-rem(28px);
  @include media-query(wide) {
    @include font-rem(28px);
  }
  @include media-query(big) {
    @include font-rem(28px);
  }
  @include media-query(full) {
    @include font-rem(28px);
  }
}

.VueCarousel{
  height: 425px;
}
.VueCarousel-inner{
  height: 100% !important;
}
.VueCarousel-wrapper{
  height: 100%;
}
.VueCarousel-navigation-button {
  color: transparent!important;
}
.VueCarousel-navigation-prev,
.VueCarousel-navigation-next {
  &:before {
    display: block;
    content: $i-arrow;
    font-family: '#{$ico-font-family}' !important;
    color: $c-brand!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-rem(60px);
    @include media-query(medium) {
      @include font-rem(80px);
    }
    @include media-query(big) {
      @include font-rem(100px);
    }
  }
}

.VueCarousel-navigation-prev {
  &:before {
    transform: rotate(180deg);
  }
  @include media-query(wide-max) {
    left: 36px!important;
  }
}
.VueCarousel-navigation-next {
  @include media-query(wide-max) {
    right: 36px!important;
  }
}

@media screen and (max-width:970px ) {
  .cc-home__hero .container-first .text-card{
    text-align: left;
  }
  .VueCarousel{
      height: 212px !important;
    }
    .VueCarousel-slide{
      width: 100%;
    }
    .cc-learn__slider-content{
      margin: 0;
      padding: 0;
      text-align: right;
      padding-left: 30%;
      padding-right: 20px;
      padding-bottom: 40px;
      .cc-learn__slider-txt{
        font-size: 17px;
      }
    }
    .cc-learn__slider__item{
      justify-content: center;
      align-items: flex-end;
    }
}