
.cc-message {
  padding: 2rem 0;
  min-height: 80vh;
  background: url('#{$img-path}/pilsen/bg-message.png') center no-repeat;
  background-size: 100% 100%;
  // &:after {
  //   content: '';
  //   display: block;
  //   position: relative;
  //   width: 100%;
  //   max-width: 1100px;
  //   height: 80vw;
  //   margin: 0;
  //   background-repeat: no-repeat;
  //   background-position: left bottom;
  //   background-size: auto 100%;
  //   background-image: url('#{$img-path}/gato-message.jpg');
  //   transform: translateX(-100%);
  //   animation-delay: .3s;
  //   animation-name: translateGato;
  //   animation-duration: 4.2s;
  //   animation-fill-mode: forwards;
  //   -webkit-animation-name: translateGato;
  //   -webkit-animation-duration: 4.2s;
  //   -webkit-animation-fill-mode: forwards;
  //   @include media-query(medium) {
  //     margin: -12vw 0 0;
  //     height: 30vw;
  //   }
  //   @include media-query(full) {
  //     height: 36vw;
  //   }
  // }
  .cc-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50.9785px;
    line-height: 60px;
    text-align: center;
    @include font-rem(40px);
    color: #712325;
    margin: 0;
    padding-bottom: .6rem;
    @include media-query(wide) {
      @include font-rem(50px);    
    }
    @include media-query(full) {
      @include font-rem(60px);    
    }
  }
  .cc-lead {
    font-family: 'DIN Next LT Pro' !important;
    @include font-rem(24px);
    color: #712325;
    margin: 0;
    padding-bottom: .6rem;
    @include media-query(wide) {
      @include font-rem(30px); 
      padding-bottom: 1rem;
    }
    @include media-query(full) {
      @include font-rem(40px);    
    }
  }
  .cc-lead__time {
    font-weight: bold;
    font-family: 'DIN Next LT Pro' !important;
    @include font-rem(50px);
    color: #C18E00;
    margin: 0;
    padding-bottom: .6rem;
    line-height: 1;
    @include media-query(wide) {
      @include font-rem(60px); 
      padding-bottom: 1rem;
    }
    @include media-query(full) {
      @include font-rem(80px);    
    }
  }
  @include media-query(wide) {
    padding: 4rem 0;
  }
}

@keyframes translateGato {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
.cc-btn.cc-btn_secondary{
  font-family: 'DIN Next LT Pro';
  font-weight: bold;
}
.cc-message__content {
  background: #e9e9e7;
  font-family: 'DIN Next LT Pro';
  border: 1px solid #EEB400;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  margin: 0 auto;
  width: 30%;
  position: relative;
  z-index: 3;
  padding: 100px 0;
}
@media screen and (max-width: 970px) {
  .cc-message__content{
    width: 90%;
    padding: 50px 10px;
  }
}
.cc-message__header {
  text-align: center;
  font-family: 'intensaposter';
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.cc-message__txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #712325;
  margin: 0;
  display: block;
  text-align: center;
  margin: 0 auto;
  @include font-rem(18px);
  width: 80%;
  max-width: 400px;
  padding-bottom: 2rem;
  @include media-query(wide) {
    @include font-rem(22px);
  }
  @include media-query(full) {
    @include font-rem(24px);
  }
}
.cc-message__txt div:first-child{
  width: 100% !important;
}

.cc-message__grid-btn {
  text-align: center;
}