
.layout-general.layaout-ranking{
  width: 40%;
}
.cc-ranking {
  min-height: 1570px;
  padding-bottom: 2rem;
  .cc-lead {
    padding: 30px 20px;
    max-width: 470px;
  }
  .cc-ranking__inner {
    max-width: 650px;
    padding: 0 10px 30px;
    @include media-query(medium) {
      padding: 0 20px;
    }
  }
  @include media-query(large) {
    padding-bottom: 3rem;
  }
  .cc-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    @include font-rem(20px);
    padding-bottom: 10px;
    color: #712325;
    @include media-query(medium) {
      @include font-rem(28px);
      padding-bottom: 20px;
    }
    @include media-query(big) {
      @include font-rem(36px);
      padding-bottom: 30px;
    }
  }

  // .cc-ranking .layout-general.layaout-ranking{
  //   width: 40% !important;
  // }
  // @media screen and (max-width: 970px) {
  //   .cc-ranking .layout-general.layaout-ranking{
  //     width: 100% !important;
  //   }
  // }
  .cc-title_brand {
    font-family: 'Roboto';
    color: $c-neutro;
    @include font-rem(20px);
    padding-bottom: 10px;
    @include media-query(medium) {
      @include font-rem(30px);
      padding-bottom: 20px;
    }
    @include media-query(big) {
      @include font-rem(40px);
      padding-bottom: 30px;
    }
  }
  .cc-message__btn {
    margin-bottom: 10px;
    @include media-query(medium) {
      margin-bottom: 20px;
    }
    @include media-query(big) {
      margin-bottom: 30px;
    }
  
  }
}
@media screen and (max-width: 970px) {
  .layout-general.layaout-ranking{
    width: 100%;
  }
  .cc-ranking {
    min-height: 930px !important;
  }
}

.cc-ranking__inner {
  margin: 0 auto;
  @include media-query(wide) {
    width: 100%;
  }
}

.cc-ranking__header {
  max-width: 260px;
  margin: 0 auto;
  padding: 10px 0 2rem;
  @include media-query(medium) {
    max-width: 450px;
  }
}

.cc-ranking__header-txt {
  color: #7B6744;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  @include font-rem(23px);
  max-width: 650px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: $f-bold;
  @include media-query(medium) {
    @include font-rem(20px);
  }
  @include media-query(big) {
    @include font-rem(20px);
  }
}
@media screen and (max-width: 970px) {
  .cc-ranking__header-txt {
    font-size: 13px;
  }
  .cc-ranking__header-txt_small {
    font-size: 14px !important;
  }
}

.cc-ranking__header-txt_small {
  display: block;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  @include font-rem(20px);
}

.cc-ranking__list {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: $c-neutro;
  counter-reset: rankingList;
  border-radius: 10px;
  overflow: auto;
  // max-height: 15.2rem;
  @include media-query(medium) {
    max-width: 480px;
    // max-height: 42rem;
    &:before {
      height: 290px;
    }
  }
}

.cc-ranking__item:nth-child(5) {
  border-radius: 0 0 10px 10px;
}
.cc-ranking__item:nth-child(-n+5) {
  background-color: #C18E00 ;
  .cc-ranking__name,
  .cc-ranking__points {
    color: $c-neutro;
    &:after {
      color: $c-neutro;
    }
  }
}
.cc-ranking__item {
  @include flexbox;
  padding: .6rem .6rem;
  margin: .2rem 0;
  color: $c-brand;
  counter-increment: rankingList;
  background-color: $c-neutro;
  box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
  @include media-query(medium) {
    padding: 1rem .6rem;
  }
  .cc-ranking__name,
  .cc-ranking__points {
    color: $c-brand;
  }
  &:nth-child(1) {
    margin: 0;
    border-radius: 10px 10px 0px 0px;
  }
  &.active {
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      color: red;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent $c-primary transparent transparent;
      position: absolute;
      right: 10px;
      animation: mymove 2s infinite;
    }
  }
}

.cc-ranking__txt {
  font-family: 'DIN Next LT Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.container-btn{
  text-align: center;
  .shop-here{
    width: 70%;
    padding: 10px 20px;
    margin: 0 auto 2rem !important;
    background: #C18E00;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 3.45896px 3.45896px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }
}

@keyframes mymove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.cc-ranking__name,
.cc-ranking__points {
  @include font-rem(12px);
  @include media-query(medium) {
    @include font-rem(16px);
  }
}

.cc-ranking__name {
  width: 50%;
  position: relative;
  margin: 0;
  line-height: 1.2;
  padding: .3rem .6rem .3rem 3.2rem;
  font-family: 'Roboto';
  font-weight: $f-regular;
  color: $c-neutro;
  border-right: 2px solid $c-brand;
  &:after {
    content: counter(rankingList);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    font-family: 'intensaposter'!important;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 50%;
    line-height: 1;
    color: $c-brand;
    @include font-rem(16px);
    transform: translateY(-50%);
  }
  &:before {
    position: absolute;
    left: 3px;
    top: 50%;
    @include font-rem(24px);
    transform: translateY(-50%);
  }
  @include media-query(medium) {
    &:before {
      left: 0;
    }
    &:after {
      @include font-rem(18px);
    }
    &:before {
      @include font-rem(28px);
    }
  }
  @include media-query(big) {
    &:after {
      @include font-rem(20px);
    }
    &:before {
      @include font-rem(30px);
    }
  }
}

.cc-ranking__points {
  width: 50%;
  text-align: center;
  font-family: 'Roboto';
  font-weight: $f-regular;
  color: $c-primary;
  padding: .3rem 0;
}

