
.cc-terms {
  padding-bottom: 50px;
  @include media-query(wide) {
    padding-bottom: 90px;
  }
}

.cc-terms__content{
  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
    text-align: justify;
    margin: 10px 0;
  }
  h6{
    font-weight: bold;
    font-family: 'DIN Next LT Pro';
  }
}
.cc-terms__header.cc-header{
  h1{
    font-family: 'DIN Next LT Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #701012;
    line-height: 49px;
  }
}
.cc-terms__header {
  max-width: 800px;
  margin: 0 auto;
}
.cc-terms__content {
  width: 80%;
  max-width: 80vw;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0 auto;
  padding-right: 5px;
  font-family: 'nunito_sansregular';
  &::-webkit-scrollbar{
    border-radius: 30px;
    width: 8px;
    background: #fff;
    border: 1px solid #222549;
  }
  &::-webkit-scrollbar-thumb{
    background: #701012;
    border-radius: 30px;
  }
  strong {
    font-family: 'nunito_sansbold';
  }
  @include media-query(large) {
    max-width: 600px;
  }
  @include media-query(big) {
    max-width: 700px;
  }
}